<%= form_for @car do |f| %>
<div>
  <%= f.label :manufacturer_id %>
  <%= f.select :manufacturer_id, options_for_select(@manufacturers) %>
</div>

<div>
  <%= f.label :color %>
  <%= f.text_field :color %>
</div>

<div>
  <%= f.label :year %>
  <%= f.text_field :year %>
</div>
<div>
  <%= f.label :mileage %>
  <%= f.text_field :mileage %>
</div>
<div>
  <%= f.label :description %>
  <%= f.text_area :description %>
</div>

<p>
  <%= f.submit "Submit" %>
</p>

<% end %>
